<tr>
    <td>
        <a class="table-action" href="#"><img src="img/Icon-Remove.png" alt="Icon Remove"></a>
    </td>
    <td>
        <a class="table-action" href="#"><img src="img/Icon-Edit.png" alt="Icon Edit"></a>
    </td>
    <td>{{id}}</td>
    <td><a href="{{link}}">{{title}}</a></td>
    <td class="hidden-xs"><a href="{{link}}">{{link}}</a></td>
    <td class="hidden-xs hidden-sm"><img src="{{img_src}}" alt="{{img_alt}}"></td>
</tr>
